h1{
  color: white;
  text-align:center;
  padding: 20px;
  margin: auto;
}

body{
color: DodgerBlue;
background-color: white;
background-image: url("https://cdn.wallpapersafari.com/64/96/vLRhf9.jpg");
font: normal 15px Arial, Helvetica, sans-serif;
line-height: 1.6em;
text-align:center;
}

.container{
width: 40%;
margin: auto;
display: flex;
}

.city-container{
background-color:AliceBlue;
border: 1px DodgerBlue solid;
padding: 29px;
}

.lowest-container{
background-color:AliceBlue;
border: 1px DodgerBlue solid;
text-align: center;
width: 40%;
margin: auto;
}